<a href="https://colab.research.google.com/github/RChandana/ML/blob/main/Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# How to create a series from a list, numpy array and dict?
import numpy as np
import pandas as pd
series_to_list = ['M', 'A', 'C', 'H', 'I', 'N', 'E', 'L', 'A', 'N', 'G', 'U', 'A', 'G', 'E']
series_to_dict = {'M' : 3, 'A' : 1, 'C' : 1, 'H' : 2, 'I' : 2, 'N' : 3, 'E' : 2}
series_to_numpyarray = np.array(['M', 'A', 'C', 'H', 'I', 'N', 'E', 'L', 'A', 'N', 'G', 'U', 'A', 'G', 'E'])

series_1 = pd.Series(series_to_list)
series_2 = pd.Series(series_to_dict)
series_3 = pd.Series(series_to_numpyarray)

print("Created Series from a List : \n", series_1)
print("Created Series from a Dictionary : \n", series_2)
print("Created Series from a Numpy Array : \n", series_3)

Created Series from a List :
 0     M
1     A
2     C
3     H
4     I
5     N
6     E
7     L
8     A
9     N
10    G
11    U
12    A
13    G
14    E
dtype: object
Created Series from a Dictionary :
 M    3
A    1
C    1
H    2
I    2
N    3
E    2
dtype: int64
Created Series from a Numpy Array :
 0     M
1     A
2     C
3     H
4     I
5     N
6     E
7     L
8     A
9     N
10    G
11    U
12    A
13    G
14    E
dtype: object

In [5]:
# How to combine many series to form a dataframe?

import pandas as pd
def Series (series_list) : 
  series_list = pd.Series(series_list)
  return series_list

employee_name = Series(['Ramesh', 'Chandana', 'Sreya', 'Rahul', 'Mohisha', 'Resshmi'])
employee_salary = Series([10000, 23000, 50000, 34000, 54000, 80000])
employee_joining_date = Series(['12-Jan', '23-May', '15-Dec', '25-Aug', '30-Oct', '21-April'])

data = {"Name of the employee : ": employee_name,
        "Salary of the Employee : ": employee_salary,
        "Joining date of the employee : ": employee_joining_date}

df = pd.concat(data, axis = 1)
df

,Name of the employee :,Salary of the Employee :,Joining date of the employee :
0,Ramesh,10000,12-Jan
1,Chandana,23000,23-May
2,Sreya,50000,15-Dec
3,Rahul,34000,25-Aug
4,Mohisha,54000,30-Oct
5,Resshmi,80000,21-April

In [9]:
# How to get the items of series A not present in series B?

import pandas as pd

series_A = pd.Series([2, 4, 6, 8, 10, 12, 14, 16])
series_B = pd.Series([1, 3, 5, 7, 9, 11, 14, 13])

print("\nItems of series A not present in series B :")
items = series_A[~series_A.isin(series_B)]
print(items)

Items of series A not present in series B :
0     2
1     4
2     6
3     8
4    10
5    12
7    16
dtype: int64

In [10]:
# How to get the items not common to both series A and series B?

import numpy as np

series_A = pd.Series([2, 4, 5, 8, 10, 12, 14, 16])
series_B = pd.Series([2, 3, 5, 8, 9, 11, 14, 13])

no_common =

In [ ]:
# How to get useful infos

In [ ]:
# How to get frequency counts of unique items of a series?

In [ ]:
# How to convert a numpy array to a dataframe of given shape? (L1)

In [ ]:
# How to find the positions of numbers that are multiples of 3 from a series?

In [ ]:
# How to extract items at given positions from a series?

In [ ]:
# How to stack two series vertically and horizontally ?

In [ ]:
 # How to get the positions of items of series A in another series B?

In [ ]:
# How to compute difference of differences between consequtive numbers of a series?

In [ ]:
# How to convert a series of date-strings to a timeseries?

In [ ]:
# How to filter words that contain atleast 2 vowels from a series?

In [ ]:
# How to replace missing spaces in a string with the least frequent character?

In [ ]:
# How to change column values when importing csv to a dataframe?

In [ ]:
# How to import only specified columns from a csv file?

import pandas as pd
Diabetes = pd.read_excel("/content/diabetes.csv.xlsx")
Diabetes.to_csv("Diabetes_1")
Diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0

In [ ]:
# How to check if a dataframe has any missing values?

In [ ]:
# How to replace missing values of multiple numeric columns with the mean?

In [ ]:
# How to change the order of columns of a dataframe?

In [ ]:
# How to change the order of columns of a dataframe?

In [ ]:
# How to filter every nth row in a dataframe?

In [ ]:
# How to get the last n rows of a dataframe with row sum > 100?

In [ ]:
# How to find and cap outliers from a series or dataframe column?

In [ ]:
# How to reverse the rows of a dataframe?