<a href="https://colab.research.google.com/github/RChandana/ML/blob/main/Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# How to create a series from a list, numpy array and dict?

series_to_list = ['M', 'A', 'C', 'H', 'I', 'N', 'E', 'L', 'A', 'N', 'G', 'U', 'A', 'G', 'E']
series_to_dict = {'M' : 3, 'A' : 1, 'C' : 1, 'H' : 2, 'I' : 2, 'N' : 3, 'E' : 2}
series_to_numpyarray = np.array(['M', 'A', 'C', 'H', 'I', 'N', 'E', 'L', 'A', 'N', 'G', 'U', 'A', 'G', 'E'])

series_1 = pd.Series(series_to_list)
series_2 = pd.Series(series_to_dict)
series_3 = pd.Series(series_to_numpyarray)

print("Created Series from a List : \n", series_1)
print("Created Series from a Dictionary : \n", series_2)
print("Created Series from a Numpy Array : \n", series_3)

Created Series from a List :
 0     M
1     A
2     C
3     H
4     I
5     N
6     E
7     L
8     A
9     N
10    G
11    U
12    A
13    G
14    E
dtype: object
Created Series from a Dictionary :
 M    3
A    1
C    1
H    2
I    2
N    3
E    2
dtype: int64
Created Series from a Numpy Array :
 0     M
1     A
2     C
3     H
4     I
5     N
6     E
7     L
8     A
9     N
10    G
11    U
12    A
13    G
14    E
dtype: object

In [ ]:
# How to combine many series to form a dataframe?

def Series (series_list) : 
  series_list = pd.Series(series_list)
  return series_list

employee_name = Series(['Ramesh', 'Chandana', 'Sreya', 'Rahul', 'Mohisha', 'Resshmi'])
employee_salary = Series([10000, 23000, 50000, 34000, 54000, 80000])
employee_joining_date = Series(['12-Jan', '23-May', '15-Dec', '25-Aug', '30-Oct', '21-April'])

data = {"Name of the employee : ": employee_name,
        "Salary of the Employee : ": employee_salary,
        "Joining date of the employee : ": employee_joining_date}

df = pd.concat(data, axis = 1)
df

,Name of the employee :,Salary of the Employee :,Joining date of the employee :
0,Ramesh,10000,12-Jan
1,Chandana,23000,23-May
2,Sreya,50000,15-Dec
3,Rahul,34000,25-Aug
4,Mohisha,54000,30-Oct
5,Resshmi,80000,21-April

In [ ]:
# How to get the items of series A not present in series B?

series_A = pd.Series([2, 4, 6, 8, 10, 12, 14, 16])
series_B = pd.Series([1, 3, 5, 7, 9, 11, 14, 13])

print("\nItems of series A not present in series B :")
items = series_A[~series_A.isin(series_B)]
print(items)

Items of series A not present in series B :
0     2
1     4
2     6
3     8
4    10
5    12
7    16
dtype: int64

In [ ]:
# How to get the items not common to both series A and series B?

series_A = pd.Series([1, 4, 6, 8, 3, 9, 11, 13, 5, 14])
series_B = pd.Series([4, 5, 6, 7, 8, 9, 10, 11, 12, 13])

union = pd.Series(np.union1d(series_A, series_B))
intersect = pd.Series(np.intersect1d(series_A, series_B))

notcommonseries = union[~union.isin(intersect)]
notcommonseries

0      1
1      3
5      7
8     10
10    12
12    14
dtype: int64

In [ ]:
# How to get useful infos

Diabetes = pd.read_excel("/content/diabetes.csv.xlsx")
Diabetes.to_csv("Diabetes_1")
Diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    float64
 1   Glucose                   768 non-null    float64
 2   BloodPressure             768 non-null    float64
 3   SkinThickness             768 non-null    float64
 4   Insulin                   768 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    float64
 8   Outcome                   768 non-null    float64
dtypes: float64(9)
memory usage: 54.1 KB

In [ ]:
# How to get frequency counts of unique items of a series?

new_list=[1, 2, 4, 5, 6, 7, 8, 9, 9, 8, 6, 6, 5, 5, 2, 2, 1, 3, 1, 1, 4, 6, 6, 6, 3, 3, 7, 1, 3, 2, 2]
new_series = pd.Series(new_list)

print("Frequency of each unique value of the said series : ")
print(new_series.value_counts())

Frequency of each unique value of the said series :
6    6
1    5
2    5
3    4
5    3
4    2
7    2
8    2
9    2
dtype: int64

In [ ]:
# How to convert a numpy array to a dataframe of given shape? (L1)

new_array = np.array([[10, 20, 30], [40, 50, 60]])
df = pd.DataFrame(new_array, index = ["Row_1", "Row_2"], columns = ["Column_1", "Column_2", "Column_3"])
df

       Column_1  Column_2  Column_3
Row_1        10        20        30
Row_2        40        50        60

In [ ]:
# How to find the positions of numbers that are multiples of 3 from a series?

num_series = pd.Series(np.random.randint(1, 50, 10))
print("Original Series : \n", num_series)
position = np.where(num_series % 3 == 0)
print("Positions of numbers that are multiples of 3 : \n", position)

Original Series :
 0     2
1     9
2    13
3     6
4    37
5    48
6    18
7     1
8    29
9    12
dtype: int64
Positions of numbers that are multiples of 3 :
 (array([1, 3, 5, 6, 9]),)

In [ ]:
# How to extract items at given positions from a series?

Diabetes = pd.read_excel("/content/diabetes.csv.xlsx")
Diabetes.to_csv("Diabetes_1")
Diabetes_glucose= pd.Series(Diabetes['Glucose'])
print(Diabetes_glucose[1])

85.0

In [ ]:
# How to stack two series vertically and horizontally ?

list_1 = ["Mobile", "Computer", "Laptop", "Gadget"]
list_2 = [2000, 10000, 50000, 100000]

series_1 = pd.Series(list_1)
series_2=pd.Series(list_2)

print("\n Stack of series vertically :  ")
series = pd.concat([series_1, series_2], axis = 0)
display(series)

print("\n Stack of series horizontally : ")
series = pd.concat([series_1,series_2], axis = 1)
series

 Stack of series vertically :

0      Mobile
1    Computer
2      Laptop
3      Gadget
0        2000
1       10000
2       50000
3      100000
dtype: object

 Stack of series horizontally :

          0       1
0    Mobile    2000
1  Computer   10000
2    Laptop   50000
3    Gadget  100000

In [ ]:
 # How to get the positions of items of series A in another series B?

series_1 = pd.Series([1, 3, 2, 4, 5, 6, 7, 8, 9, 10])
series_2 = pd.Series([1, 2, 5, 8, 10])

print("Original Series:")
Series = {"series1": series_1,
          "series2": series_2}

series = pd.concat(Series, axis = 1)
display(series)

result = [pd.Index(series_1).get_loc(i) for i in series_2]
print("Positions of items of series2 in series1:")
print(result)

Original Series:

   series1  series2
0        1      1.0
1        3      2.0
2        2      5.0
3        4      8.0
4        5     10.0
5        6      NaN
6        7      NaN
7        8      NaN
8        9      NaN
9       10      NaN

Positions of items of series2 in series1:
[0, 2, 4, 7, 9]

In [ ]:
# How to compute difference of differences between consequtive numbers of a series?

series1 = pd.Series([1, 5, 7, 8, 12, 14, 25])
print("Original Series : \n", series1)
print("\nDifference of differences between consecutive numbers of a series : ")
print(series1.diff().tolist())
print(series1.diff().diff().tolist())

Original Series :
 0     1
1     5
2     7
3     8
4    12
5    14
6    25
dtype: int64

Difference of differences between consecutive numbers of a series :
[nan, 4.0, 2.0, 1.0, 4.0, 2.0, 11.0]
[nan, nan, -2.0, -1.0, 3.0, -2.0, 9.0]

In [ ]:
# How to convert a series of date-strings to a timeseries?

series = pd.Series(['13 July 2021', '04-01-2001', '20020101', '2000/09/22'])
result = pd.to_datetime(series)
print(result)

0   2021-07-13
1   2001-04-01
2   2002-01-01
3   2000-09-22
dtype: datetime64[ns]

In [ ]:
# How to filter words that contain atleast 2 vowels from a series?

from collections import Counter
series = pd.Series(['Sreya', 'Sruti', 'Chandana','Max', 'Kev', 'Laural'])
print("Original Series : \n",series)
print("\nWords containing atleast 2 vowels : \n")
result = series.map(lambda c: sum([Counter(c.lower()).get(i, 0) 
for i in list('aeiou')]) >= 2)
print(series[result])

Original Series :
 0       Sreya
1       Sruti
2    Chandana
3         Max
4         Kev
5      Laural
dtype: object

Words containing atleast 2 vowels :

0       Sreya
1       Sruti
2    Chandana
5      Laural
dtype: object

In [ ]:
# How to replace missing spaces in a string with the least frequent character?

string1 = 'laural likes to play cricket'
print("Original String given by user : ",string1)
series = pd.Series(list(string1))
element_frequency = series.value_counts()
print(element_frequency)
current_frequency = element_frequency.dropna().index[-1]
print("Least frequency letter : ",current_frequency)
result = "".join(series.replace(' ',current_frequency))
result

Original String given by user :  laural likes to play cricket
l    4
     4
a    3
r    2
i    2
k    2
e    2
t    2
c    2
u    1
s    1
o    1
p    1
y    1
dtype: int64
Least frequency letter :  y

'lauralylikesytoyplayycricket'

In [ ]:
# How to change column values when importing csv to a dataframe?

Diabetes = pd.read_excel("/content/diabetes.csv.xlsx")
Diabetes.to_csv("Diabetes_1")

print("The intial data set : \n")
display(Diabetes.head(10))
print("\n Changing 5th column nox to some other value : \n")
Diabetes.loc[5, "nox"] = 'UPDATED'
Diabetes.head(10)

The intial data set :

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0
5,5.0,116.0,74.0,0.0,0.0,25.6,0.201,30.0,0.0
6,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0,1.0
7,10.0,115.0,0.0,0.0,0.0,35.3,0.134,29.0,0.0
8,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53.0,1.0
9,8.0,125.0,96.0,0.0,0.0,0.0,0.232,54.0,1.0

 Changing 5th column nox to some other value :

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,nox
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,NaN
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,NaN
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,NaN
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,NaN
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,NaN
5,5.0,116.0,74.0,0.0,0.0,25.6,0.201,30.0,0.0,UPDATED
6,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0,1.0,NaN
7,10.0,115.0,0.0,0.0,0.0,35.3,0.134,29.0,0.0,NaN
8,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53.0,1.0,NaN
9,8.0,125.0,96.0,0.0,0.0,0.0,0.232,54.0,1.0,NaN

In [ ]:
# How to import only specified columns from a csv file?

print("indus column : \n")
print(Diabetes['BMI'].head())

indus column :

0    33.6
1    26.6
2    23.3
3    28.1
4    43.1
Name: BMI, dtype: float64

In [ ]:
# How to check if a dataframe has any missing values?

Diabetes.isnull().sum()

Pregnancies                   0
Glucose                       0
BloodPressure                 0
SkinThickness                 0
Insulin                       0
BMI                           0
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
nox                         767
dtype: int64

In [ ]:
# How to replace missing values of multiple numeric columns with the mean?

print("Before modification : /n")
display(Diabetes.head())
x = Diabetes["Age"].median()
Diabetes["Age"].fillna(x, inplace = True)
print("After modification : /n")
Diabetes.head(10)

Before modification : /n

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,nox
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,NaN
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,NaN
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,NaN
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,NaN
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,NaN

After modification : /n

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,nox
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,NaN
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,NaN
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,NaN
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,NaN
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,NaN
5,5.0,116.0,74.0,0.0,0.0,25.6,0.201,30.0,0.0,UPDATED
6,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0,1.0,NaN
7,10.0,115.0,0.0,0.0,0.0,35.3,0.134,29.0,0.0,NaN
8,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53.0,1.0,NaN
9,8.0,125.0,96.0,0.0,0.0,0.0,0.232,54.0,1.0,NaN

In [ ]:
# How to change the order of columns of a dataframe?

print("Original DataFrame : \n")
display(Diabetes)
print("New DataFrame : ")
Diabetes.iloc[:, [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]]

Original DataFrame :

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,nox
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,NaN
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,NaN
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,NaN
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,NaN
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0.0,NaN
764,2.0,122.0,70.0,27.0,0.0,36.8,0.340,27.0,0.0,NaN
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0.0,NaN
766,1.0,126.0,60.0,0.0,0.0,30.1,0.349,47.0,1.0,NaN
767,1.0,93.0,70.0,31.0,0.0,30.4,0.315,23.0,0.0,NaN

New DataFrame :

,nox,Outcome,Age,DiabetesPedigreeFunction,BMI,Insulin,SkinThickness,BloodPressure,Glucose,Pregnancies
0,NaN,1.0,50.0,0.627,33.6,0.0,35.0,72.0,148.0,6.0
1,NaN,0.0,31.0,0.351,26.6,0.0,29.0,66.0,85.0,1.0
2,NaN,1.0,32.0,0.672,23.3,0.0,0.0,64.0,183.0,8.0
3,NaN,0.0,21.0,0.167,28.1,94.0,23.0,66.0,89.0,1.0
4,NaN,1.0,33.0,2.288,43.1,168.0,35.0,40.0,137.0,0.0
...,...,...,...,...,...,...,...,...,...,...
763,NaN,0.0,63.0,0.171,32.9,180.0,48.0,76.0,101.0,10.0
764,NaN,0.0,27.0,0.340,36.8,0.0,27.0,70.0,122.0,2.0
765,NaN,0.0,30.0,0.245,26.2,112.0,23.0,72.0,121.0,5.0
766,NaN,1.0,47.0,0.349,30.1,0.0,0.0,60.0,126.0,1.0
767,NaN,0.0,23.0,0.315,30.4,0.0,31.0,70.0,93.0,1.0

In [ ]:
# How to filter every nth row in a dataframe?

print("Intial dataframe : \n")
display(Diabetes)
print("Every 10th row in the DataFrame : \n")
Diabetes.iloc[::10, :]

Intial dataframe :

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,nox
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,NaN
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,NaN
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,NaN
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,NaN
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0.0,NaN
764,2.0,122.0,70.0,27.0,0.0,36.8,0.340,27.0,0.0,NaN
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0.0,NaN
766,1.0,126.0,60.0,0.0,0.0,30.1,0.349,47.0,1.0,NaN
767,1.0,93.0,70.0,31.0,0.0,30.4,0.315,23.0,0.0,NaN

Every 10th row in the DataFrame :

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,nox
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,NaN
10,4.0,110.0,92.0,0.0,0.0,37.6,0.191,30.0,0.0,NaN
20,3.0,126.0,88.0,41.0,235.0,39.3,0.704,27.0,0.0,NaN
30,5.0,109.0,75.0,26.0,0.0,36.0,0.546,60.0,0.0,NaN
40,3.0,180.0,64.0,25.0,70.0,34.0,0.271,26.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
720,4.0,83.0,86.0,19.0,0.0,29.3,0.317,34.0,0.0,NaN
730,3.0,130.0,78.0,23.0,79.0,28.4,0.323,34.0,1.0,NaN
740,11.0,120.0,80.0,37.0,150.0,42.3,0.785,48.0,1.0,NaN
750,4.0,136.0,70.0,0.0,0.0,31.2,1.182,22.0,1.0,NaN
760,2.0,88.0,58.0,26.0,16.0,28.4,0.766,22.0,0.0,NaN

In [ ]:
# How to get the last n rows of a dataframe with row sum > 100?

Diabetes.tail(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,nox
748,3.0,187.0,70.0,22.0,200.0,36.4,0.408,36.0,1.0,NaN
749,6.0,162.0,62.0,0.0,0.0,24.3,0.178,50.0,1.0,NaN
750,4.0,136.0,70.0,0.0,0.0,31.2,1.182,22.0,1.0,NaN
751,1.0,121.0,78.0,39.0,74.0,39.0,0.261,28.0,0.0,NaN
752,3.0,108.0,62.0,24.0,0.0,26.0,0.223,25.0,0.0,NaN
753,0.0,181.0,88.0,44.0,510.0,43.3,0.222,26.0,1.0,NaN
754,8.0,154.0,78.0,32.0,0.0,32.4,0.443,45.0,1.0,NaN
755,1.0,128.0,88.0,39.0,110.0,36.5,1.057,37.0,1.0,NaN
756,7.0,137.0,90.0,41.0,0.0,32.0,0.391,39.0,0.0,NaN
757,0.0,123.0,72.0,0.0,0.0,36.3,0.258,52.0,1.0,NaN
758,1.0,106.0,76.0,0.0,0.0,37.5,0.197,26.0,0.0,NaN
759,6.0,190.0,92.0,0.0,0.0,35.5,0.278,66.0,1.0,NaN
760,2.0,88.0,58.0,26.0,16.0,28.4,0.766,22.0,0.0,NaN
761,9.0,170.0,74.0,31.0,0.0,44.0,0.403,43.0,1.0,NaN
762,9.0,89.0,62.0,0.0,0.0,22.5,0.142,33.0,0.0,NaN
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0.0,NaN
764,2.0,122.0,70.0,27.0,0.0,36.8,0.340,27.0,0.0,NaN
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0.0,NaN
766,1.0,126.0,60.0,0.0,0.0,30.1,0.349,47.0,1.0,NaN
767,1.0,93.0,70.0,31.0,0.0,30.4,0.315,23.0,0.0,NaN

In [ ]:
# How to find and cap outliers from a series or dataframe column?

series = pd.Series(np.logspace(-5, 2, 100))
lower_percentile = 0.50
higher_percentile = 0.95
low, high = series.quantile([lower_percentile, higher_percentile])
series[series < low] = low
series[series > high] = high
display(series)
print(lower_percentile, 'low percentile: ', low)
print(higher_percentile, 'high percentile: ', high)

0      0.031728
1      0.031728
2      0.031728
3      0.031728
4      0.031728
        ...
95    44.697908
96    44.697908
97    44.697908
98    44.697908
99    44.697908
Length: 100, dtype: float64

0.5 low percentile:  0.031727611745700456
0.95 high percentile:  44.697907991046655

In [ ]:
# How to reverse the rows of a dataframe?

print("Before reversing : \n")
display(Diabetes)
print("\nAfter reversing : \n")
new_df = Diabetes.loc[::-1]
display(new_df)

Before reversing :

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,nox
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,NaN
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,NaN
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,NaN
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,NaN
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0.0,NaN
764,2.0,122.0,70.0,27.0,0.0,36.8,0.340,27.0,0.0,NaN
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0.0,NaN
766,1.0,126.0,60.0,0.0,0.0,30.1,0.349,47.0,1.0,NaN
767,1.0,93.0,70.0,31.0,0.0,30.4,0.315,23.0,0.0,NaN

After reversing :

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,nox
767,1.0,93.0,70.0,31.0,0.0,30.4,0.315,23.0,0.0,NaN
766,1.0,126.0,60.0,0.0,0.0,30.1,0.349,47.0,1.0,NaN
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0.0,NaN
764,2.0,122.0,70.0,27.0,0.0,36.8,0.340,27.0,0.0,NaN
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,NaN
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,NaN
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,NaN
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,NaN
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,NaN

In [ ]:
# How to reverse the rows of a dataframe?

print("Before reversing : \n")
display(Diabetes)
print("\nAfter reversing : \n")
new_df = Diabetes.loc[::-1]
display(new_df)

Before reversing :

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,nox
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,NaN
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,NaN
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,NaN
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,NaN
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0.0,NaN
764,2.0,122.0,70.0,27.0,0.0,36.8,0.340,27.0,0.0,NaN
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0.0,NaN
766,1.0,126.0,60.0,0.0,0.0,30.1,0.349,47.0,1.0,NaN
767,1.0,93.0,70.0,31.0,0.0,30.4,0.315,23.0,0.0,NaN

After reversing :

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,nox
767,1.0,93.0,70.0,31.0,0.0,30.4,0.315,23.0,0.0,NaN
766,1.0,126.0,60.0,0.0,0.0,30.1,0.349,47.0,1.0,NaN
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0.0,NaN
764,2.0,122.0,70.0,27.0,0.0,36.8,0.340,27.0,0.0,NaN
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,NaN
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,NaN
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,NaN
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,NaN
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,NaN